@import "tailwindcss";
@plugin './hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
    --color-primary: #4076FF;
    --color-dark: #151515;
    --color-semidark: #222222;
    --color-paper-dark: #272727;
}

button {cursor: pointer}